.page-footer {
  @include container-lg();
  background-color: #363855;
  color: white;
  text-align: right;
  display: flex;
  flex-direction: column;
  position: relative;

  @media screen and (max-width: $laptop-width) {
    text-align: left;
  }
  @media screen and (max-width: $mobile-small-width) {
    padding-left: 0;
    padding-right: 0;
  }

  &__map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #363855;
    background-image: url('../assets/dotted.svg');
    background-repeat: no-repeat;
    background-size: 860px auto;
    background-position: left 116px top 95px;
    @media screen and (max-width: $tablet-width) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      background-position: right 20px center;
      background-size: 700px auto;
    }
    &-marker {
      width: 20%;
      position: absolute;
      top: 318px;
      left: 727px;
      text-align: left;
      display: flex;
      align-items: center;
      @media screen and (max-width: $tablet-width) {
        top: auto;
        left: auto;
        right: 7%;
        bottom: 35%;
      }
      &-icon {
        fill: $primary-color;
        margin-right: 13px;
        flex-shrink: 0;
        @media screen and (max-width: $tablet-width) {
          width: 4.5vw;
          height: auto;
        }
      }
      &-text {
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        white-space: nowrap;
      }
    }
  }

  &__nav {
    width: 25%;
    margin-top: 135px;
    margin-left: auto;
    position: relative;
    margin-bottom: 17px;
    @media screen and (max-width: $laptop-width) {
      margin: 0;
      margin-top: 135px;
      margin-right: auto;
    }
    @media screen and (max-width: $tablet-width) {
      margin: 0;
      margin-top: 80px;
      margin-bottom: 20px;
      width: 45%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    @media screen and (max-width: $mobile-width) {
      margin-top: 30px;
      width: 70%;
    }
    @media screen and (max-width: $mobile-small-width) {
      width: 100%;
      margin-top: 10px;
      align-items: center;
    }

    &-heading {
      font-size: 18px;
      font-weight: 700;
      line-height: 36px;
      margin-bottom: 15px;
      padding-right: 4px;
      @media screen and (max-width: $laptop-width) {
        padding-right: 0px;
      }
      @media screen and (max-width: $mobile-small-width) {
        margin-bottom: 5px;
      }
    }
    &-list {
      list-style: none;
      margin-bottom: 33px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 100%;
      @media screen and (max-width: $tablet-width) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        background-color: rgba(#565870, 0.5);
        backdrop-filter: blur(1px);
        box-shadow: 0px 0px 20px rgba(black, 0.05);
        padding: 15px;
        padding-bottom: 10px;
      }

      &-item {
        position: relative;

        @media screen and (max-width: $tablet-width) {
          margin-right: 5px;
          margin-bottom: 5px;

          &:last-of-type {
            margin-right: 0;
          }
        }

        &::after {
          content: '';
          right: 0;
          bottom: 0;
          position: absolute;
          width: 65px;
          height: 1px;
          background-color: #565870;
          transition: background-color 0.2s;
          @media screen and (max-width: $laptop-width) {
            left: 0;
            right: auto;
          }
          @media screen and (max-width: $tablet-width) {
            display: none;
          }
        }
        &:hover::after {
          background-color: $primary-color;
        }
        &:last-of-type::after {
          display: none;
        }
      }
    }
    &-link {
      font-size: 16px;
      font-weight: 400;
      line-height: 36px;
      display: block;
      padding: 0 3px 0 19px;
      transition: all 0.2s;
      @media screen and (max-width: $laptop-width) {
        padding: 3px 5px;
      }
      @media screen and (max-width: $tablet-width) {
        padding: 5px 18px;
        border: 2px solid $primary-color;
      }
      &:link,
      &:visited {
        color: white;
      }
      &:focus,
      &:hover {
        color: $primary-color;
        outline: none;
        @media screen and (max-width: $tablet-width) {
          border: 2px solid $primary-color;
        }
      }
    }
  }

  &__social {
    display: inline-block;
    margin-bottom: 51px;
    @media screen and (max-width: $tablet-width) {
      margin-bottom: 30px;
    }
    @media screen and (max-width: $mobile-small-width) {
      margin-bottom: 150px;
    }
    &-list {
      display: flex;
      align-items: center;
      padding-right: 5px;
      &-item {
        margin-right: 18px;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
    &-link {
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      outline: none;
      @media screen and (max-width: $tablet-width) {
        width: 40px;
        height: 40px;
      }

      &:focus > svg,
      &:hover > svg {
        
        fill: white;
      }
    }

    &-link-icon {
      transition: fill 0.3s;
      fill: $primary-color;
      @media screen and (max-width: $tablet-width) {
        width: 30px;
        height: 30px;
      }
    }
  }

  &__to-top {
    font-size: 12px;
    font-weight: 400;
    line-height: 36px;
    display: block;
    transition: color 0.3s, border 0.3s;
    padding-right: 5px;
    @media screen and (max-width: $tablet-width) {
      font-size: 16px;
      font-weight: 400;
      line-height: 36px;
      padding: 5px 18px;
      border: 2px solid #565870;
      width: auto;
    }
    &:link,
    &:visited {
      color: white;
    }
    &:focus,
    &:hover {
      color: $primary-color;
      outline: none;
      @media screen and (max-width: $tablet-width) {
        border: 2px solid $primary-color;
      }
    }
  }

  &__copyright {
    width: 50%;
    margin: 0 auto;
    margin-top: auto;
    margin-bottom: 68px;
    text-align: center;
    position: relative;
    z-index: 100;
    @media screen and (max-width: $tablet-width) {
      margin-bottom: 20px;
    }
    @media screen and (max-width: $mobile-small-width) {
      width: 100%;
    }
    &-icon {
      fill: white;
      margin-bottom: 6px;
    }
    &-text {
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
    }
  }
}
