// Colors

$primary-color: #ffe13e;
$secondary-color: #202242;
$features-background-color: #fbf8f1;


$primary-bg: #ffffff;
$secondary-bg: #fbf8f1;

// Breakpoints

$large-desktop-width: 1250px;
$laptop-width: 1170px;
$tablet-width: 1045px;
$mobile-width: 840px;
$mobile-small-width: 560px;

// Retina

$dpi: 144dpi;
$dppx: 1.5dppx;